@charset "utf-8";
/* CSS Document */
.wrap {
	width: 1024px;
}

#budgetWrap {
	width: 900px;
}

textarea {
	resize: none;
	wrap: hard;
}

.mainStyle {
	font-size: 32px;
	font-weight: bold;
}

.subTitle1 {
	font-size: 18px;
	font-weight: bold;
}

.subTitle2, .rotateWord, .mainRotate {
	font-weight: bold;
}

.subTitle2, .subTitle3, .mainRotate {
	font-size: 16px;
	font-style: italic;
}

.txtArea {
	width: 874px;
	height: 250px;
}

.tbox {
	width: 140px;
}

.txtAreaSmall {
	width: 430px;
	height: 250px;
}

.budgetSub span{
	color: #F00;
}

.tblBold {
	font-weight: bold;
}

.OPHead1 {
	font-weight: bold;
}

.OPHead1, .OPHead2 {
	font-size: 22px;
}

.tbox {
	background-color:#CCC;
}

.rotateWord {
	display: block;
	width: 50px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
}

table {
	border-collapse: collapse;
}

th {
	border: 2;
	text-align: center;
}
