@charset "utf-8";
/* CSS Document */
.wrap {
	width: 1024px;
}

#budgetWrap {
	width: 900px;
}

textarea {
	resize: none;
	wrap: hard;
}

.mainStyle {
	font-size: 32px;
	font-weight: bold;
}

.subTitle {
	font-weight: bold;
}
.subTitle, .subTitle2 {
	font-size: 16px;
	font-style: italic;
}

.txtArea {
	width: 874px;
	height: 250px;
}

.txtAreaSmall {
	width: 430px;
	height: 250px;
}

.subTitle {
	font-size: 18px;
	font-weight: bold;
}

.budgetSub span{
	color: #F00;
}

.tblBold {
	font-weight: bold;
}

.OPHead1 {
	font-weight: bold;
}

.OPHead1, .OPHead2 {
	font-size: 22px;
}

.tbox {
	background-color:#CCC;
}

table {
	border-collapse: collapse;
}

th{
	border: 2;
	text-align: center;
}